{% extends 'base.html' %}
{% block title %}Чат{% endblock %}
{% block content %}
{% if user.username == room_user or user.username == username and user.is_authenticated%}
<body>
    <textarea id="chat-log" readonly cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="70"><br>
    <input id="chat-message-submit" type="button" value="отправить">
    Вы ({{ user.username }}) общаетесь с {{ room_user }}   
    <a href="{% url 'logout' %}">Выйти</a>
    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName 
            + '/'
        );
        chatSocket.onopen = function(e) {
            document.querySelector('#chat-log').value = ''
            chatSocket.send(JSON.stringify({
                'message': 'get-room-messages'
            }));
        };
        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (data.message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
</body>
{% else %}
<p>Вы не вошли</p>
<a href="{% url 'login' %}">Войти</a>
<a href="{% url 'signup' %}">Регистрация</a>
{% endif %}
{% endblock %}